#app {
    .content {
        margin: 0 auto;
        max-width: 704px;
        padding: 1rem;

        &--white {
            background-color: #ffffff;
        }

        &--gray {
            background-color: #efefef;
        }
    }
}
