.infoOmKlage {
    background-color: white;
    padding: 2rem;

    &__container {
        display: flex;
        width: 100%;
    }

    &__separator {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        border-bottom: 0.15rem solid grey;
    }

    &__ikon {
        width: 72px;
        padding-right: 2rem;
        display: flex;
        align-items: center;
    }
}
