.grupperte-dokumenter__header {
    display: flex;
    border-bottom: 1px solid var(--a-surface-neutral);
};

.grupperte-dokumenter__ikon {
    margin-right: 0.5rem;
}

.grupperte-dokumenter__content {
    border-bottom: none;
}
