@import '../../styles/colors.less';

.innsyn {
    background-color: @innsyn-background-color;
    &__ingen-saker, &__feilmelding {
        text-align: center;
        margin: 6rem 0 5rem;
    }
}

.saksoversikt-list {
    list-style: none;
    padding-left: 0;
    &__element {
        margin-bottom: 1rem;
    }
}
