@import '../../styles/colors.less';

.innsyn {
    background-color: @innsyn-background-color;
    &__ingenSaker {
        text-align: center;
        margin: 4rem 0 2rem;
    }
}

.saksoversiktList {
    list-style: none;
    padding-left: 0;
    &__element {
        margin-bottom: 1rem;
    }
}
