.samtaler {
    display: flex;
    align-items: center;
}

.samtaler__ikon {
    margin-right: 1rem;
    display: flex;
    align-items: center;
}

.samtaler__linkPanel {
    color: var(--a-surface-action);
    border-radius: 0.5rem;
}
