@import '../../styles/variables.less';
@import '../../styles/colors.less';

.annenInformasjon {
    display: flex;
    flex-direction: column;
    background: @annen-informasjon-background-color;
    padding: 2rem;
    h2 {
        margin-bottom: 2rem;
    }
    a {
        margin-bottom: 0.5rem;
        border-bottom: 0;
        text-decoration: underline;
    }
    a:last-child {
        margin-bottom: 0;
    }
}
