.content-section {
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    border: 1px solid var(--navds-global-color-green-200);
    box-shadow: 0 5px 15px rgb(0 0 0 / 0.1);
}

.content-section--bg-white {
    background-color: var(--navds-global-color-white);
}

.content-section--bg-blue {
    background-color: var(--navds-global-color-lightblue-100);
}

.content-section--padding-large {
    padding: 2rem;
}

.content-section--padding-default {
    padding: 1rem;
}

.content-section--padding-none {
    padding: 0;
}

.content-section__heading {
    margin-bottom: 1rem;
}
