.content-section {
    margin-bottom: 2rem;
    border-radius: 0.5rem;
}

.content-section--bg-white {
    background-color: var(--a-white);
}

.content-section--bg-yellow {
    background-color: var(--a-surface-warning-subtle);
}

.content-section--padding-large {
    padding: 2rem;
}

.content-section--padding-default {
    padding: 1rem;
}

.content-section--padding-none {
    padding: 0;
}

.content-section__heading {
    margin-bottom: 1rem;
}
