.ettersendelse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    &__content {
        max-width: 640px;
        align-self: center;
    }

    &__title {
        margin-top: 2rem;
    }

    &__uploader {
        margin-top: 2rem;
    }

    &__sendButton {
        display: flex;
        margin: 0 auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

}
