.ettersendelse {
  background-color: white;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

  }
  &__title {
    margin-top: 2rem;
    text-align: center;
  }

  &__uploader {
    margin-top: 2rem;
  }

  &__sendButton {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
  }
}
