.dokument {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--navds-semantic-color-divider);
}

.dokument__ikon {
    color: var(--navds-semantic-color-link);
    margin-top: 6px;
    margin-right: 1rem;
}

.dokument__content {
    margin-bottom: 1rem;
}
