.manglendeVedleggHendelse {
    margin-top: 1rem;

    &__manglendeVedleggHendelseStatus {
        display: flex;
        align-content: center;
        padding-bottom: 1rem;

        > div {
            padding-left: 0.5rem;
        }
    }
}
