.se-søknad {
    display: flex;
    align-items: center;
}

.se-søknad__ikon {
    margin-right: 1rem;
    display: flex;
    align-items: center;
}

.se-søknad__linkPanel {
    border-radius: 0.5rem;
    color: var(--a-surface-action);
}
