.dokument {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--a-surface-neutral);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.dokument__ikon {
    color: var(--a-surface-action);
    margin: 0 0.875rem;
}

.dokument__link-icon {
    display: flex;
    align-items: center;
    flex-grow: 1;
    max-width: 32rem;
}

.dokument__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
