.saksoversikt {
    width: 100%;

    &__saksnummer, &__ettersendelse-btn, &__endringssoknad-btn {
        margin-bottom: 1.5rem;
    }

    &__ettersendelse-intro, &__endringssoknad-intro {
        margin-bottom: 1rem;
    }
}