.saksoversikt {
    width: 100%;

    &__din-søknad {
        display: flex;
        flex-direction: row;
        margin-bottom: 2rem;
        svg {
            margin-right: 0.75rem;
        }
    }

    &__saksnummer, &__ettersendelse-btn, &__endringssoknad-btn {
        margin-bottom: 1.5rem;
    }

    &__ettersendelse-intro, &__endringssoknad-intro {
        margin-bottom: 1rem;
    }
}