.dine-utbetalinger {
     display: flex;
     flex-flow: row;
     background-color: white;
     align-content: center;

     &__icon {
         height: 64px;
         width: 64px;
         margin-right: 1.5rem;
     }

     &__text {
         align-self: center;
     }
 }
.dine-utbetalinger-wrapper {
    .typo-normal {
        width: 100%;
    }
}