.navigation-colum-links {
  padding-bottom: 0.75rem;
  span {
    vertical-align: middle;
    display: inline-block;
    margin: 0 0.5rem 0;
  }
  svg {
    display: inline-block;
    margin-right: 0.5rem;
    vertical-align: middle;
  }

  a, p {
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle;
  }
}