/* @import '../../styles/mixins.less';
/* .minidialog-skjema {

} */
.minidialog-skjema__snakkeboble {
    display: flex;
    justify-content: flex-start !important;
    margin-top: 2rem;
}

.minidialog-skjema__fritekstfelt {
    margin-top: 1rem;
}

.minidialog-skjema__btn {
    display: flex;
    justify-content: center;
} 